<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupabaseProjectRef</key>
	<string>$(SUPABASE_PROJECT_REF)</string>
	<key>SupabaseAnonKey</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSGKFriendListUsageDescription</key>
	<string>See which of your Game Center friends play Club Kitten so you can visit their lounges.</string>
</dict>
</plist>
